<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DbHelperSettings" type="FYJ.Data.Config.DbHelperSection, FYJ.Data" />
  </configSections>
  <DbHelperSettings>
    <!--<DbHelperSetting name="mysql" providerName="MySql.Data.MySqlClient" connectionString="Server=mysql.kecq.com;Uid=990717_mysql;Pwd=605911fyj;Database=db_990717_mysql;Port=4306;CharSet=utf8;"  isEncrypt="false" encryptType="FYJ.Data.DbEncrypt,FYJ.Data" tbPre="financial_tb_" viewPre="financial_view_" procPre="financial_proc_"></DbHelperSetting>-->
    <DbHelperSetting name="wpf" type="FYJ.Data.DbHelperSQL,FYJ.Data" providerName="System.Data.SqlClient" connectionString="server=.;database=db_test2;uid=sa;pwd=533533"  isEncrypt="false" encryptType="FYJ.Data.DbEncrypt,FYJ.Data" ></DbHelperSetting>
  </DbHelperSettings>
</configuration>